@import "./tailwind.css";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}

.subHeading {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-amber);
}
